  body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  #header{
    width: 100%;
    height: 72px;    
    background-color: #fff;  
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  }
  #header h2 {
    margin-left: 5%;
  }
  #header span {
    color: #57AD56;
  }
  .login {
    width: 78px;
    height: 40px;
    margin-left: auto;
    background-color: #fff;
    margin-right: 0.6em;
    border-color: #E0E0E0;
    border-radius: 5px;
  }
  .basket {
      margin-right: 5%;
  }
  .basket, .basket img {
    width: 40px;
    height: 72px;
    align-items: center;
    background-color: #fff;
    border: none;
  }
.container {
      margin: 0 5% 3em 5%;
  }
  input {
      margin-top: 1em;
      padding-top: 2em;
      width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 16px;
  }
  input:focus {
      outline: none;
  }
  h1 {
      font-size: 22;
  }
  h5 {
      font-size: 16px;
  }
  .kuhnya {
      font-size: 14px;
      color: #626262;
  }
  p {
      font-size: 14px;
  }
  .invisible {
      height: 72px;
  }
  .parent {
      margin: 0 5%;
  }
  .parent .hdr {
      font-size: 22px;
  }
  .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 4fr);
      margin: 0 auto;
      grid-gap: 16px;
      padding-top: 2em;
  }
  .store-card {
      display: grid;
  }
  .cards img {
      width: 100%;
      margin-bottom: 1.5em;
  }
  .card h5, h6, p {
      margin-top: 1.5em;
  }
  .footer-body {
      background-color: #262626;
  }
  .footer {
    margin: 0 5%;
    margin-top: 3em;
    max-width: 100%;
   display: grid;
   grid-template-rows: 100px 200px 100px 90px;
   grid-template-areas:
    "f1-a f1-a f1-a"
    "f2-a f2-b f2-c"
    "f3-a f3-a f3-a"
    "f4-a f4-b f4-c";  
  }
  .f1-a {grid-area: f1-a;}.f2-a {grid-area: f2-a;}.f2-b {grid-area: f2-b;}.f2-c {grid-area: f2-c;}
  .f3-a {grid-area: f3-a;}.f4-a {grid-area: f4-a;}.f4-b {grid-area: f4-b;}.f4-c {grid-area: f4-c;}
  
  .footer, .footer a {
      color: #fff;
  }
  .eats {
      color: #57AD56;
      
  }
  .f2-a img {
      width: 24px;
      height: 24px;
  }
  .f1-a, .f2-a, .f2-b, .f2-c, .f3-a, .f4-a, .f4-b, .f4-c {
      display: flex;
  }
  .f1-a {
      align-items: center;
  }
  .f2-a, .f2-b, .f2-c {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      font-size: 13px;
  }
  .footer a:link {
    text-decoration: none;
  }
  .f3-a {
      justify-content: center;
  }
  .f3-a a, .f3-a img {
    width: 120px;
    height: 40px;
    margin: 0 10px;
  }
    .f4-a, .f4-b, .f4-c {
      justify-content: center;
      font-size: 11px;
  }
  body {
      position: relative;
      margin: 0;
      padding: 0;
  }
  .strelka {
     position: absolute;
     bottom: 100px;
     right: 5px; 
  }
  .strelka img {
      width: 70%;
  }
  

